<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>New Image (DEV)</title>
        {{#> head-block }}
        {{/head-block}}
    </head>
    <body>
        {{> includes/navbar title="New Image Painting Co."}}

        {{#> content-block }}
            <div class="container-fluid">
                <div class="row">
                    <div class="col mx-auto">
                        Opps Something went wrong!
                    </div>
                </div>
            </div>
        {{/content-block }}

        {{#> scripts-block}}
        {{/scripts-block}}
    </body>
</html>